.Navbar {
  display: flex;
  flex-direction: column;
  z-index: var(--pww-z-50);

  &-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Fixes layout issue */
    background-color: var(--pww-color-light-1000);
    padding: 10px 32px;
    box-shadow: var(--pww-shadow-dark);
  }

  &-body-logo {
    width: 150px; /* Set a fixed width for consistent layout */
    height: 50px;
    background-image: url("../assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left; /* Align logo to the left */
    cursor: pointer;
  }

  &-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; /* Creates space between items */
  }

  &-body-link {
    cursor: pointer;
    font-size: var(--pww-font-size-16);

    &:hover {
      color: var(--pww-color-teal-1000);
    }
  }
  &-active {
    color: var(--pww-color-teal-1000);
    font-weight: bold;
    border-bottom: 2px solid var(--pww-color-teal-1000); // Underline for active tab
  }
}

.Modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--pww-z-100);
  overflow: hidden;
}

.Modal {
  position: fixed;
  padding: 20px;
  width: 400px;
  z-index: var(--pww-z-1000);
  top: 10%;
  left: 50%;
  margin-left: -200px;
  background-color: var(--pww-color-light-1000);
  border-radius: var(--pww-border-radius-8);
  border: 1px solid rgba(var(--dark), var(--opacity-tint));

  &-large {
    width: 700px;
    margin-left: -350px;
    max-height: 700px;
  }

  &-close {
    display: flex;
    justify-content: right;

    .Icon {
      font-size: var(--pww-font-size-16);
      margin-left: auto;

      &:hover {
        cursor: pointer;
        color: var(--pww-color-red-1000);
      }
    }
  }

  &-header {
    font-size: var(--pww-font-size-24);
    margin-bottom: 10px;
    color: var(--pww-color-blue-1000);
  }

  &-subtitle {
    font-size: var(--pww-font-size-16);
    border-bottom: 1px solid var(--pww-color-gray-200);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  &-content {
    border-radius: var(--pww-border-radius-16);
    z-index: 5;
    height: fit-content;
    max-height: 600px;
    overflow-y: auto;
    padding: 10px;

    // line spacing
    line-height: 1.6;
    color: var(--pww-color-body);
  }

  &-tab {
    cursor: pointer;
    display: flex;

    &-item {
      width: 70px;
      padding-bottom: 5px;
      text-align: center;
      border-bottom: 1px solid var(--pww-color-light-600);
      &-selected {
        color: var(--pww-color-light-1000);
        border-bottom: 3px solid var(--pww-color-light-1000);
      }

      &:hover {
        color: var(--pww-color-light-1000);
      }
    }
  }
}


/* src/components/ParticipantCard.css */
.ParticipantCard {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  padding: 0.75rem;
  box-shadow: var(--pww-shadow-dark);
}

.ParticipantCard:hover {
  // add box shadow and scale on hover
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: scale(1.02);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.ParticipantCard-avatarWrapper {
  margin-right: 1rem;
}

.ParticipantCard-avatar,
.ParticipantCard-avatarPlaceholder {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover; /* If you have an actual image */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  background-color: var(--pww-color-gray-100);
  color: var(--pww-color-gray-1000);
  border: 2px solid var(--pww-color-blue-1000);
}

.ParticipantCard-details {
  display: flex;
  flex-direction: column;
}

.ParticipantCard-name {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.ParticipantCard-email {
  font-size: 0.9rem;
  color: #777;
}

.FolderCard {
  background-color: var(--pww-color-light-1000);
  border-radius: var(--pww-border-radius-8);
  box-shadow: var(--pww-shadow-dark);
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
  height: fit-content;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.02);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  &-color {
    height: 75px;
    align-items: center;
    justify-content: center;
  }

  &-name {
    font-size: var(--pww-font-size-20);
    font-weight: 800;
    padding: 4px 0;
    border-bottom: 1px solid var(--pww-color-gray-200);
    margin-bottom: 10px;
  }

  &-description {
    color: var(--pww-color-gray-700);
    font-size: var(--pww-font-size-16);
  }
}

.Event {
  padding: 0 10px;

  &-month {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--pww-color-blue-1000);
    margin-bottom: 20px;
    border-bottom: 1px solid var(--pww-color-gray-200);
    padding-bottom: 6px;
    width: fit-content;
  }

  &-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 14px 16px;
    transition: all 0.25s ease;
    // border: 1px solid var(--pww-color-gray-200);
    margin-bottom: 14px;
    box-shadow: var(--pww-shadow-dark);

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-color: var(--pww-color-blue-200);
      background-color: var(--pww-color-light-200);
    }

    &-date {
      min-width: 60px;
      text-align: center;

      .day {
        font-size: 24px;
        font-weight: 1000;
        color: var(--pww-color-blue-1000);
      }

      .weekday {
        font-size: 13px;
        color: var(--pww-color-gray-600);
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    &-details {
      flex-grow: 1;
      padding-left: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 16px;
        font-weight: 700;
        color: var(--pww-color-gray-1000);
      }

      .time {
        font-size: 12px;
        color: var(--pww-color-gray-700);
        margin-top: 4px;
        font-style: italic;
      }
    }
  }
}