

.Role-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.Role-tag-item {
  position: relative;
}


.Role-tag-label {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--pww-color-light-1000);
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}


.Role-tag-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.Role-tag-input:checked + .Role-tag-label {
  background-color: var(--pww-color-blue-1000);
  color: var(--pww-color-light-1000);
  border-color: var(--pww-color-blue-1000);
}


.Selected-roles {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--pww-color-gray-1000);
}
