.Workshop-card {
  background-color: var(--pww-color-light-1000);
  border-radius: var(--pww-border-radius-8);
  box-shadow: var(--pww-shadow-dark);
  border: 1px solid var(--pww-color-gray-200);
  transition: 0.3s;
  height: fit-content;
  overflow: hidden;
  cursor: pointer;

  &-color {
    height: 100px;
    padding: 20;
    align-items: center;
    justify-content: center;
  }

  &-name {
    font-size: var(--pww-font-size-20);
    margin-bottom: 10px;
    padding: 10px 0;
    font-weight: 800;
    border-bottom: 1px solid var(--pww-color-gray-200);
  }

  &-content {
    padding: 10px 20px 20px 20px;
  }
}
