.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-initials {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--pww-color-blue-1000);
    color: var(--pww-color-light-1000);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--pww-font-size-50);
    font-weight: bold;
  }

  &-Block {
    width: 40%;
    margin-top: 56px;
  }

  &-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    &-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid var(--pww-color-blue-1000);
      box-shadow: var(--pww-shadow-dark);
    }
  }

  &-field {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--pww-color-gray-100);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    &-label {
      color: var(--pww-color-gray-900);
      margin-right: 10px;
      font-weight: bold;
    }
  }
}
