.Profile {
  padding: 30px 30px;
  box-shadow: var(--pww-shadow-dark);
  background-color: var(--pww-color-light-1000);
  border-radius: var(--pww-border-radius-8);
  border: 1px solid var(--pww-color-gray-200);
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  min-height: calc(100vh - 300px);
}

.Profile-username--text {
  font-size: 28px;
  font-weight: 600;
  color: var(--pww-color-gray-1000);
  margin-bottom: 16px;
  margin-top: 40px;
  text-align: left;
}

.Profile-separator {
  color: var(--pww-color-gray-400);
  margin: 0 6px;
  font-weight: 400;
}

.Profile-role--text {
  font-size: 28px;
  color: var(--pww-color-gray-500);
  font-weight: 400;
  display: inline;
}

.Profile-email--text {
  font-size: 16px;
  color: var(--pww-color-teal-800);
  margin-bottom: 6px;
  margin-top: 6px;
  text-align: left;
}